<mat-form-field class="w-full">
    @if (label != '') {
        <mat-label>{{label}}</mat-label>
    }

    <input
        [name]="name"
      
        matInput
        type="password"

        [placeholder]="placholder"  [disabled]="disabled"  [required]="required" 
        #inputName="ngModel" [(ngModel)]="model" (ngModelChange)="onValueChange(model)"
        
        #passwordField
    />
    <button
        mat-icon-button
        type="button"
        (click)="
            passwordField.type === 'password'
                ? (passwordField.type = 'text')
                : (passwordField.type = 'password')
        "
        matSuffix
    >
        @if (passwordField.type === 'password') {
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
        }
        @if (passwordField.type === 'text') {
            <mat-icon
                class="icon-size-5"
                [svgIcon]="'heroicons_solid:eye-slash'"
            ></mat-icon>
        }
    </button>
    
    
    @if (inputName.errors && inputName.errors.required) {
        <mat-error>This field is required</mat-error>
    }
</mat-form-field>