<div class="grid grid-cols-2 gap-4 mt-2">
    <div class="w-full">
        <bft-input-date name="OrderDate" label="Date" [(ngModel)]="supplierDto.OrderDate"
            [skeleton]="isDataLoading" [disabled]="true" />
    </div>
    <div class="w-full">
        <bft-input-text name="SupplierName" label="Supplier Name" [(ngModel)]="supplierDto.SupplierName"
            [skeleton]="isDataLoading" [disabled]="true" />
    </div>

</div>


<div class="flex justify-end mt-2">
    <bft-button name="Add Row" icon="add" class="py-1" (click)="addBillRow()" />
</div>
<table class="w-full form-table mt-2">
    <thead>
        <tr class="">
            <th class="table-header border-r border-l w-20">Transaction Date</th>
            <th class="table-header border-r w-30">Credit</th>
            <th class="table-header border-r w-30">Debit</th>
            <th class="table-header border-r w-30">Balance</th>
            <th class="table-header border-r w-30">Remarks</th>
            <!-- @if (formData.Pur_Inv_Detail.length > 0) { -->
            <th class="table-header border-r"></th>
            <!-- } -->
        </tr>
    </thead>
    <tbody>
        @for (item of formDataDTO; track $index) {
        <tr class="border-b py-2">
            
            <td class="py-0 px-2 border-r border-l w-20">
                <bft-input-date name="TransactionDate{{$index}}" [(ngModel)]="item.TransactionDate" [skeleton]="isDataLoading"
                    [disabled]="item.ID > 0" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-currency name="Credit{{$index}}" [(ngModel)]="item.Credit" [skeleton]="isDataLoading"
                    [disabled]="item.ID > 0" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-currency name="Debit{{$index}}" [(ngModel)]="item.Debit" [skeleton]="isDataLoading"
                    [disabled]="item.ID > 0" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-currency name="Balance{{$index}}" [(ngModel)]="item.Balance" [skeleton]="isDataLoading"
                    [disabled]="item.ID > 0" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-text name="Remarks{{$index}}" [(ngModel)]="item.Remarks" [skeleton]="isDataLoading"
                    [disabled]="item.ID > 0" />
            </td>
            <td class="py-0 px-2 border-r w-10">
                @if (item.ID == 0) {
                <div class="flex items-center justify-center h-10">
                    <mat-icon class="text-red-500 cursor-pointer" fontIcon="delete"
                        (click)="deleteDetailRow($index)"></mat-icon>
                </div>
                }

            </td>

        </tr>
        }

    </tbody>
</table>