<ng-template #orderForm>
    <div class="flex  justify-end  gap-4 items-center w-full">
        @if (primaryKey > 0) {
    
        <div>
            <bft-button name="Open Ledger" icon="print" class="py-1" (onClick)="openLedger()" />
        </div>
        <div class="flex-shrink-0">
            
    
        </div>
    
        }
    
    </div>
    
    
    <div class="grid grid-cols-3 gap-2 mt-2">
        <div class="w-full">
            <bft-input-date name="Date" [required]="true" label="Date" [(ngModel)]="formData.Date"
                [skeleton]="isDataLoading" />
        </div>
        <div class="w-full">
            <bft-select name="SupplierID" [required]="true" [(ngModel)]="formData.SupplierID" [displayList]="suppliers"
                label="Supplier" valueField="ID" displayField="Description" [skeleton]="isDataLoading" />
        </div>
        <!-- <div class="w-full">
            <bft-textarea name="Notes" label="Notes" [(ngModel)]="formData.Notes" [skeleton]="isDataLoading" />
        </div> -->
    </div>
    
    <div class="flex justify-end mt-5">
      
        <div>
            <bft-button name="Add Row" icon="add" class="py-1" (click)="addRow()" />
    
        </div>
    </div>
    
    
    <div class="overflow-x-auto overflow-y-auto max-h-[378px]">
        <table class="w-full form-table mt-2 min-w-[1100px]">
            <thead class="sticky top-0 bg-white z-10">
                <tr>
                    <th class="table-header border-r border-l w-15">Supplier Item</th>
                    <th class="table-header border-r w-20">Qty</th>
                    <th class="table-header border-r w-10">Price</th>
                    <th class="table-header border-r w-20">Total Amount</th>
                    <th class="table-header border-r w-20">Bad Leafs</th>
                    <th class="table-header border-r w-20">Deduction Amount</th>
                    <th class="table-header border-r w-20">Net Amount</th>
    
    
                    @if (formData.Supplier_Order_Detail.length > 1) {
                    <th class="table-header border-r">Action</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (element of formData.Supplier_Order_Detail; track $index) {
                <tr class="border-b py-2">
                    <td class="py-0 px-2 border-r border-l w-15">
                        <bft-select name="SupplierItemID" [required]="true" [(ngModel)]="element.SupplierItemID"
                            [displayList]="supplierItems" displayField="Description" valueField="ID"
                            [skeleton]="isDataLoading"  (onChange)="onItemSelect(element)"  />
                    </td>
    
                    <td class="py-0 px-2 border-r border-l w-10">
                        <bft-input-number name="Qty" [required]="true" [(ngModel)]="element.Qty" [skeleton]="isDataLoading"
                            (change)="getTAmt(element)" />
                    </td>
                    <td class="py-0 px-2 border-r border-l w-20">
                        <bft-input-currency name="Price" [required]="true" [(ngModel)]="element.Price"
                            [skeleton]="isDataLoading" (change)="getTAmt(element)" />
                    </td>
                    <td class="py-0 px-2 border-r border-l w-20">
                        <bft-input-currency name="TotalPrice" [(ngModel)]="element.TotalPrice" [skeleton]="isDataLoading"
                            [disabled]="true" />
                    </td>
                    <td class="py-0 px-2 border-r border-l w-10">
                        <bft-input-number name="Badleafs" [required]="true" [(ngModel)]="element.Badleafs"
                            [skeleton]="isDataLoading" [disabled]="true" />
                    </td>
                    <td class="py-0 px-2 border-r border-l w-20">
                        <bft-input-currency name="DeductionAmt" [(ngModel)]="element.DeductionAmt"
                            [skeleton]="isDataLoading" [disabled]="true" />
                    </td>
                    <td class="py-0 px-2 border-r border-l w-20">
                        <bft-input-currency name="NetAmt" [(ngModel)]="element.NetAmt" [skeleton]="isDataLoading"
                            [disabled]="true" />
                    </td>
    
                    @if (formData.Supplier_Order_Detail.length > 1) {
                    <td class="py-0 px-2 border-r w-10">
                        <div class="flex items-center justify-center h-10">
                            <mat-icon class="text-red-500 cursor-pointer" fontIcon="delete"
                                (click)="deleteDetailRow($index)"></mat-icon>
                        </div>
                    </td>
                    }
                </tr>
                }
                <tr>
                    <td colspan="12" class="h-1"></td>
                </tr>
            </tbody>
            <!-- <tfoot class="sticky bottom-0 bg-white z-10 border">
                <tr class="text-[15px] border-t">
    
                    <td colspan="2" class="pl-4 px-1 py-1">
                        <div class="flex items-center align-center space-x-6">
    
                            <div class="flex items-center">
                                <mat-icon svgIcon="heroicons_outline:square-3-stack-3d"
                                    class="text-blue-400 text-xs "></mat-icon>
                                <span>Total Items:</span>
                                <span class="font-semibold pl-1">{{ getTotalItems() }}</span>
                            </div>
    
                            <div class="flex items-center">
                                <mat-icon svgIcon="heroicons_outline:wallet" class="text-lime-500"></mat-icon>
                                <span>Total Qty: </span>
                                <span class="font-semibold pl-1">{{ getTotalQty() }}</span>
                            </div>
    
                        </div>
                    </td>
    
                    <td colspan="4"></td>
    
                    <td colspan="4">
                        <div class="flex px-4 w-fit ml-auto text-right">
                            <div>Total: </div>
                            <div class="pl-1 font-semibold">
                                {{ getTotalAmt() | currency:'PKR ' }}
                            </div>
                        </div>
                    </td>
    
                </tr>
            </tfoot> -->
        </table>
    </div>
</ng-template>

<!-- Form without tabs (for Add mode when formData.ID is null/undefined) -->
@if (!formData.ID || formData.ID <= 0) {
    <ng-container [ngTemplateOutlet]="orderForm"></ng-container>
}

<!-- Form with tabs (for Edit mode when formData.ID > 0) -->
@if (formData.ID && formData.ID > 0) {
    <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">
        <mat-tab label="General">
            <ng-template matTabContent>
                <div class="mt-3">
                    <ng-container [ngTemplateOutlet]="orderForm"></ng-container>
                </div>
            </ng-template>
        </mat-tab>


            <mat-tab label="Product">
                <ng-template matTabContent>
                    <div class="flex justify-end mt-5">
      
                        <div>
                            <bft-button name="Add Row" icon="add" class="py-1" (click)="addProductRow()" />
                    
                        </div>
                    </div>
                    <div class="overflow-x-auto overflow-y-auto max-h-[270px] mt-3">
                        <table class="w-full form-table min-w-[1100px] border-collapse">
                          <thead class="sticky top-0 bg-white z-10 p-2">
                          <tr>
                              <th class="px-2 table-header border border-t-0 w-4/10 text-center">Supplier Item</th>
                            <th class="px-2 table-header border border-t-0 w-4/10 text-left">Product</th>
                            <th class="px-2 table-header border border-t-0 w-2/10 text-center">Qty</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            @for (product of formData.Supplier_Order_Products; track product.ID) {
                                <tr>
                                    <td class="py-1 px-2 border-b border-r border-l w-4/10 text-left">
                                        <bft-select name="SupplierItemID" [required]="true" [(ngModel)]="product.SupplierItemID"
                                            [displayList]="supplierProductItems" displayField="Description" valueField="ID"
                                            [skeleton]="isDataLoading"  />
                                    </td>
                                    <td class="py-1 px-2 border-b border-r border-l w-4/10 text-left">
                                        <bft-select name="ProductID" [required]="true" [(ngModel)]="product.ProductID"
                                            [displayList]="products" displayField="Description" valueField="ID"
                                            [skeleton]="isDataLoading"  />
                                    </td>
                                    <td class="py-1 px-2 border-b border-r w-2/10 text-center">
                                        <bft-input-number name="Qty" [required]="true" [(ngModel)]="product.Qty"
                                        [skeleton]="isDataLoading" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </ng-template>
            </mat-tab>
        
    </mat-tab-group>
}