<div class="grid grid-cols-2 gap-2">
    <div class="w-full first">
        <bft-input-text name="Code" label="Code" [(ngModel)]="formData.Code"
            [skeleton]="isDataLoading" disabled />
    </div>
    <div class="w-full">
        <bft-input-text name="Description" label="Name" [(ngModel)]="formData.Description" [required]="true" [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-select name="CityID" [(ngModel)]="formData.CityID" [displayList]="city" label="City" valueField="ID" displayField="Description" [skeleton]="isDataLoading" [required]="true" [enableAddFeature]="true" (onAddNewItem)="addCity()" [SCode]="componentRegister.city.SCode"/>
    </div>

</div>