<div class="grid grid-cols-2 gap-4 mt-2 mb-2">
    <div class="w-full first">
        <bft-select name="CustomerID" [(ngModel)]="customerDto.CustomerID" [displayList]="customersDrp" label="Customer"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading" [required]="true"
            (onChange)="onCustomerChange($event)" />
    </div>
    <div class="w-full">
        <bft-input-text name="BusinessName" label="Shop Name" [(ngModel)]="customerDto.BusinessName"
            [skeleton]="isDataLoading" [disabled]="true" />
    </div>
                <!-- <div class="grid grid-cols-2 gap-4 mt-2">
                <div class="w-full">
                    <bft-input-text name="PhoneNo" label="Phone No" [(ngModel)]="customerDto.PhoneNo"
                        [skeleton]="isDataLoading" [disabled]="true" />
                </div>
                <div class="w-full">
                    <bft-input-text name="Address" label="Address" [(ngModel)]="customerDto.Address"
                        [skeleton]="isDataLoading" [disabled]="true" />
                </div>
            </div> -->

</div>


@if(customerDto.CustomerID){


<mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">

    <mat-tab label="General">
        <ng-template matTabContent>


            <div class="flex justify-end mt-2">
                <bft-button name="Add Row" icon="add" class="py-1" (click)="addBillRow()" />
            </div>


            <div class="relative">
                <div class="overflow-x-auto overflow-y-auto max-h-[270px]">
                    <table class="w-full form-table mt-2 min-w-[1100px] border-collapse">
                        <thead class="sticky top-0 bg-white z-10">
                            <tr>
                                <th class="table-header border border-t-0 w-40">Bill No</th>
                                <th class="table-header border border-t-0 w-20">Transaction Date</th>
                                <!-- <th class="table-header border border-t-0 w-30">Debit</th> -->
                                <th class="table-header border border-t-0 w-30">Remaining</th>
                                <th class="table-header border border-t-0 w-30">Credit</th>
                                <th class="table-header border border-t-0 w-30">Remarks</th>
                                @if (formDataDTO.length > 1 ) {
                                <th class="table-header border-r">Action</th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @for (item of formDataDTO; let idx = $index; track $index) {
                            <tr class="border-b">
                                <td class="py-0 px-2 border-r border-l w-40">
                                    <!-- <bft-input-text name="BillNo" [required]="true" [(ngModel)]="item.BillNo"
                                        [skeleton]="isDataLoading" [disabled]="item.ID > 0" /> -->
                                         <bft-autocomplete (onInput)="onInput($event)" [options]="option"  [(ngModel)]="item.BillNo"
                                        [placeholder]="'Search Bill No...'" [prefixIcon]="'search'" (optionSelected)="onfilterChange($event, idx)" />
                                </td>
                                <td class="py-0 px-2 border-r border-l w-20">
                                    <bft-input-date name="TransactionDate" [required]="true"
                                        [(ngModel)]="item.TransactionDate" [skeleton]="isDataLoading"
                                        [disabled]="item.ID > 0" />
                                </td>
                                <td class="py-0 px-2 border-r border-l w-30">
                                    <bft-input-currency name="Remaining" [required]="true" [(ngModel)]="item.Remaining"
                                        [skeleton]="isDataLoading" [disabled]="item.ID > 0" />
                                </td>
                                <!-- <td class="py-0 px-2 border-r border-l w-30">
                                    <bft-input-currency name="Debit" [required]="true" [(ngModel)]="item.Debit"
                                        [skeleton]="isDataLoading" [disabled]="item.ID > 0" />
                                </td> -->
                                <td class="py-0 px-2 border-r border-l w-30">
                                    <bft-input-currency name="Credit" [required]="true" [(ngModel)]="item.Credit"
                                        [skeleton]="isDataLoading" [disabled]="item.ID > 0" />
                                </td>
                                <td class="py-0 px-2 border-r border-l w-30">
                                    <bft-input-text name="Remarks" [(ngModel)]="item.Remarks" [skeleton]="isDataLoading"
                                        [disabled]="item.ID > 0" />
                                </td>
                                  @if ( formDataDTO.length > 1) {
                                <td class="py-0 px-2 border-r w-10">
                                  
                                    <div class="flex items-center justify-center h-10">
                                        <mat-icon class="text-red-500 cursor-pointer" fontIcon="delete"
                                            (click)="deleteDetailRow($index)"></mat-icon>
                                    </div>
                                </td>
                            }
                            </tr>
                            }
                            <tr>
                                <td colspan="6" class="h-1"></td>
                            </tr>
                        </tbody>

                        <tfoot class="sticky bottom-0 bg-white z-10">
                            <tr class="font-semibold border-t border-b border-l border-r">
                                <td class="py-1 px-6 border-r">Total</td>
                                <td class="border-r"></td>
                                <td class="py-1 px-4 border-r">
                                    {{ getGeneralDebit() | currency: 'PKR: ' : number: '1.0-0' }}
                                </td>
                                <td class="py-1 px-4 border-r">
                                    {{ getGeneralCredit() | currency: 'PKR: ' : number: '1.0-0' }}
                                </td>
                                <td class="border-r" colspan="2"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="absolute bottom-0 left-0 w-full border-t border-gray-300 pointer-events-none"></div>
            </div>


        </ng-template>
    </mat-tab>


    <mat-tab label="Bill Transaction">
        <ng-template matTabContent>
            <div class="overflow-x-auto overflow-y-auto max-h-[378px]">
                <table class="w-full form-table mt-2 min-w-[1100px]">
                    <thead class="sticky top-0 bg-white z-10">
                        <tr class="">
                            <th class="table-header border-r border-l w-40">Bill No</th>
                            <th class="table-header border-r w-30">Debit</th>
                            <th class="table-header border-r w-30">Credit</th>
                            <th class="table-header border-r w-30">Remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of BillTransaction; track $index) {
                        <tr class="border-b py-2">
                            <td class="py-0 px-2 border-r border-l w-40">
                                <bft-input-text name="BillNo" [required]="true" [(ngModel)]="item.BillNo"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Debit" [required]="true" [(ngModel)]="item.Debit"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Credit" [required]="true" [(ngModel)]="item.Credit"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Remaining" [(ngModel)]="item.Remaining"
                                    [skeleton]="isDataLoading" />
                            </td>
                        </tr>

                        }

                    </tbody>
                    <tfoot>
                        <tr class="border font-semibold">
                            <td class="py-1 px-6 border-r border-l">Total</td>
                            <td class="py-1 px-4 border-r">
                                {{ getTransactionDebit() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                            <td class="py-1 px-4 border-r">
                                {{ getTransactionCredit() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                            <td class="py-1 px-4 border-r">
                                {{ getTransactionRemaining() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Unpaid Bill">
        <ng-template matTabContent>
            <div class="overflow-x-auto overflow-y-auto max-h-[378px]">
                <table class="w-full form-table mt-2 min-w-[1100px]">
                    <thead class="sticky top-0 bg-white z-10">
                        <tr class="">
                            <th class="table-header border-r border-l w-40">Bill No</th>
                            <th class="table-header border-r w-30">Debit</th>
                            <th class="table-header border-r w-30">Credit</th>
                            <th class="table-header border-r w-30">Remaining</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of BillTransaction; track $index) {
                        <tr class="border-b py-2">
                            <td class="py-0 px-2 border-r border-l w-40">
                                <bft-input-text name="BillNo" [required]="true" [(ngModel)]="item.BillNo"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Debit" [required]="true" [(ngModel)]="item.Debit"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Credit" [required]="true" [(ngModel)]="item.Credit"
                                    [skeleton]="isDataLoading" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-30">
                                <bft-input-currency name="Remaining" [(ngModel)]="item.Remaining"
                                    [skeleton]="isDataLoading" />
                            </td>
                        </tr>
                        }
                        <tr>
                            <td colspan="12" class="h-1"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="border font-semibold text-[15px]">
                            <td class="py-1 px-6 border-r border-l">Total</td>
                            <td class="py-1 px-4 border-r">
                                {{ getUnpaidDebit() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                            <td class="py-1 px-4 border-r">
                                {{ getUnpaidCredit() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                            <td class="py-1 px-4 border-r">
                                {{ getUnpaidRemaining() | currency: 'PKR: ' : number: '1.0-0' }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>
}