<div class="grid grid-cols-2 gap-2">
    <div class="w-full first">
        <bft-input-text name="Code" label="Code" [(ngModel)]="formData.Code"
            [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-text name="Description" label="Name" [required]="true" [(ngModel)]="formData.Description" [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-input-text name="IdCard" label="ID Card" [(ngModel)]="formData.IdCard" 
            [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-text name="PhoneNo" label="Phone No" [(ngModel)]="formData.PhoneNo" [skeleton]="isDataLoading" />
    </div>
</div>

<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-input-text name="PhoneNo2" label="Phone No 2" [(ngModel)]="formData.PhoneNo2" 
            [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-text name="Reference" label="Reference" [(ngModel)]="formData.Reference" 
            [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid">
    <div class="w-full">
        <bft-textarea name="Address" label="Address" [(ngModel)]="formData.Address" 
            [skeleton]="isDataLoading" />
    </div>
</div>

<div class="grid grid-cols-3 gap-2">
    <div class="w-full first">
        <bft-input-currency name="Salary" label="Salary" [(ngModel)]="formData.Salary" 
            [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-currency name="Balance" label="Balance" [(ngModel)]="formData.Balance" 
            [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-number name="Limits" label="Target" [(ngModel)]="formData.Limits" 
            [skeleton]="isDataLoading" />
    </div>
</div>