<div class="grid grid-cols-12 gap-2">
     <div class="col-span-6">
        <bft-input-text name="Description" [required]="true" label="Name" [(ngModel)]="formData.Description"
            [skeleton]="isDataLoading" />
    </div>

    <div class="col-span-3">
        <bft-input-text name="Code" label="Code" [(ngModel)]="formData.Code" [skeleton]="isDataLoading" />
    </div>
   
    <div class="col-span-3">
        <bft-select name="CategoryID" [(ngModel)]="formData.CategoryID" [displayList]="categories" label="Category"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading" [enableAddFeature]="true" (onAddNewItem)="addCategory()" [SCode]="componentRegister.itemType.SCode" />
    </div>
    
</div>

<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-select name="CompanyID" [(ngModel)]="formData.CompanyID" [displayList]="companies" label="Company"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading" [enableAddFeature]="true" (onAddNewItem)="addCompanyInformation()" [SCode]="componentRegister.company.SCode" />

        <!-- <div class="flex justify-end" (click)="addSupplierInformation()"><span
                            class="chip-color text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg">+ Add Supplier</span>
                    </div> -->
    </div>

    <div class="w-full">
        <bft-select name="SupplierID" [(ngModel)]="formData.SupplierID" [displayList]="suppliers" label="Supplier"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading" [enableAddFeature]="true" (onAddNewItem)="addSupplierInformation()" [SCode]="componentRegister.supplier.SCode" />
        <!-- <div class="flex justify-end" (click)="addCompanyInformation()"><span
                            class="chip-color text-xs font-medium me-2 px-2.5 py-0.5 rounded-lg">+ Add Company</span>
                    </div> -->
    </div>
</div>
<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-checkbox name="IsActive" label="Active" [(ngModel)]="formData.IsActive" [skeleton]="isDataLoading" />
    </div>
</div>

<!-- <div class="grid grid-cols-2 gap-2">
                <div class="w-full">
                    <bft-textarea name="Location" label="Location" [(ngModel)]="formData.Location"
                        [skeleton]="isDataLoading" />
                </div>

            </div> -->


<mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'" mat-align-tabs="center">


    <mat-tab label="Pricing & Units">
        <ng-template matTabContent>

            <div class="grid grid-cols-3 gap-2 mt-1">
                <div class="w-full">
                    <bft-input-text name="SizeUnitGm" label="Unit Type" [(ngModel)]="formData.SizeUnitGm"
                        [skeleton]="isDataLoading" />
                </div>

                <div class="w-full">
                    <bft-input-number name="PackPcs" label="Pcs per Pack" [(ngModel)]="formData.PackPcs"
                        [skeleton]="isDataLoading" (onChange)="calculateValues()" />
                </div>
                <div class="w-full">
                    <bft-input-number name="Ctn" label="Pack per Ctn" [(ngModel)]="formData.Ctn" [skeleton]="isDataLoading"
                        (onChange)="calculateValues()" />
                </div>

            </div>

            <div class="grid grid-cols-3 gap-2">
                <div class="w-full">
                    <bft-input-currency name="CostPr" label="Cost Pcs" [(ngModel)]="formData.CostPr"
                        [skeleton]="isDataLoading" (onChange)="calculateValues()" />
                </div>

                <div class="w-full">
                    <bft-input-currency name="PackPcsCost" label="Pack Cost" [(ngModel)]="formData.PackPcsCost"
                        [skeleton]="isDataLoading" />
                </div>

                <div class="w-full">
                    <bft-input-currency name="CtnCost" label="Ctn Cost" [(ngModel)]="formData.CtnCost"
                        [skeleton]="isDataLoading" />
                </div>
            </div>



            @if (formItemCategories.length > 0) {

            <div class="overflow-x-auto" style="max-height: 378px;">
                <table class="w-full form-table mt-1 min-w-[1100px]">
                    <thead class="sticky top-0 bg-white z-10">
                        <tr>
                            <th class="table-header border-r border-l w-15">Customer</th>
                            <th class="table-header border-r border-l w-5">Psc</th>
                            <th class="table-header border-r w-20">Pack</th>
                            <th class="table-header border-r w-10">Ctn</th>
                        </tr>

                    </thead>
                    <tbody>
                        @for (item of formItemCategories; track $index) {
                        <tr class="border-b py-2">
                            <td class="py-0 px-2 border-r border-l w-15">
                                <div class="text-md my-2 font-semibold">{{item.CategoryDescription}}
                                </div>
                            </td>
                            <td class="py-0 px-2 border-r border-l w-15">
                                <bft-input-currency name="SalePcs" label="Sale Pcs" [(ngModel)]="item.SalePcs"
                                    [skeleton]="isDataLoading" (onChange)="calculateSalePrices(item)" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-15">
                                <bft-input-currency name="SalePack" label="Sale Pack" [(ngModel)]="item.SalePack"
                                    [skeleton]="isDataLoading" (onChange)="calculateSalePrices(item)" />
                            </td>
                            <td class="py-0 px-2 border-r border-l w-15">
                                <bft-input-currency name="SaleCtn" label="Sale Ctn" [(ngModel)]="item.SaleCtn"
                                    [skeleton]="isDataLoading" (onChange)="calculateSalePrices(item)" />
                            </td>

                        </tr>

                        }
                    </tbody>
                </table>
            </div>

            }

        </ng-template>
    </mat-tab>
    
    <mat-tab label="Stock">
        <ng-template matTabContent>
            <div class="grid grid-cols-1 mt-1">

                <div class="w-full">
                    <bft-input-number name="StockInHand" label="Stock In Hand" [(ngModel)]="formData.StockInHand"
                        [skeleton]="isDataLoading" />
                </div>
            </div>
        </ng-template>
    </mat-tab>


</mat-tab-group>