<div class="flex min-w-0 flex-auto flex-col items-center sm:justify-center">
    <div class="w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow">
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">

             <div class="mt-0.5 flex justify-center font-medium">
                <!-- Redirect countdown -->
                @if (countdown > 0 && showAlert) {
                    Redirecting in Signing in
                    {{ countdown | i18nPlural: countdownMapping }}
                }

            </div>
            <!-- Logo -->
            <div class="w-20">
                <img src="images/logo/trackcloud/dabossicon.png" />
            </div>

            <!-- Title -->
            <div class="mt-2 text-3xl font-extrabold leading-tight tracking-tight">
                Change your password
            </div>
            <div class="mt-0.5 font-medium">
                Create a new password for your account
            </div>

            <!-- Alert -->
            @if (showAlert) {
            <fuse-alert class="mt-8" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>
            }
                   
            <!-- Reset password form -->
            <form class="mt-4" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

                <bft-input-password name="currentPassword" label="Current Password"
                    [formControlName]="'currentPassword'" [required]="true">
                </bft-input-password>

                <bft-input-password label="Password" name="newPassword" [required]="true"
                    [formControlName]="'password'">
                </bft-input-password>

                <bft-input-password label="Confirm Password" name="confirmPassword" [required]="true"
                    [formControlName]="'passwordConfirm'">
                </bft-input-password>

                @if (changePasswordForm.get('passwordConfirm')?.hasError('mustMatch')) {
                <mat-error class="text-danger">Passwords must match</mat-error>
                }
                @if (changePasswordForm.get('password')?.hasError('minlength')) {
                <mat-error class="text-danger">Password must be at least 8 characters</mat-error>
                }

                <!-- Submit button -->
                <button class="fuse-mat-button-large mt-3 w-full" mat-flat-button [color]="'primary'" type="submit"
                    [disabled]="changePasswordForm.invalid || changePasswordForm.disabled">

                    @if (!changePasswordForm.disabled) {
                    <span> Change your password </span>
                    }
                    @if (changePasswordForm.disabled) {
                    <mat-progress-spinner [diameter]="24" [mode]="'indeterminate'"></mat-progress-spinner>
                    }
                </button>
            </form>
        </div>
    </div>
</div>