/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@import '../styles/shared.scss';
.mdc-text-field{
    margin-top: 0 !important;
}

.ant-modal-header {
    padding: 12px 24px !important;
}

.ant-btn {
    padding: 0px 12px 0px 12px !important;
    height: 26px !important;
    font-size: 13px !important;

}
.ant-modal-close {
    color: red !important;
}

.table-header{
    font-size: 13px !important;
}

/* Hide Google Translate default UI/banners */
.goog-logo-link,
.goog-te-gadget,
.goog-te-banner-frame,
#\:1\.container, /* some variants use :1.container iframe id */
#\:0\.container,
#goog-gt-tt,
#google_translate_element {
    display: none !important;
}
body {
    top: 0 !important;
}

/* Hide banner iframe forcibly */
iframe[id^="goog-gt-"],
iframe.goog-te-banner-frame { display: none !important; }
html body { top: 0px !important; }

