<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto p-6 md:p-8" cdkScrollable>
  <div class="flex-0">
    <div class="mb-7">
      <div class="text-3xl font-semibold leading-8 tracking-tight">
        {{title}}
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">

      <!-- <mat-tab label="List View">
        <ng-template matTabContent >
          @if (isLoading) {
            <div class="p-2">
              <bft-skeleton type="table" [columns]="4" [rows]="5"></bft-skeleton>
            </div>
          }
          @else {
          <nz-collapse nzBordered="false" class="main-collapse mt-4">
            @for (pack of displayedPacks; track $index) {
              <nz-collapse-panel [nzHeader]="packHeader" [nzActive]="false"
                class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
                <ng-template #packHeader>
                  <div class="flex justify-between items-center w-full">
                    <span class="font-semibold mt-1">{{ pack.name }}</span>
                  </div>
                </ng-template>
                <nz-collapse nzBordered="false" class="p-1 rounded-lg">
                  <bft-table  [dataSource]="pack.data" [(isVisible)]="isVisible" [columns]="columns" >
                    <wrapper-add [SCode]="SCode">
                      <bft-button name="New" accessKey="n" svgIcon="mat_solid:add" (onClick)="onAdd()" />
                    </wrapper-add>
        
                  </bft-table>
                </nz-collapse>
              </nz-collapse-panel>

             
            }
          </nz-collapse>
        }

        </ng-template>
      </mat-tab> -->

       <mat-tab label="Product Stock">
        <ng-template matTabContent >
          <nz-collapse nzBordered="false" class="main-collapse mt-4">
            @if (isLoading) {
              <div class="p-2">
                <bft-skeleton type="table" [columns]="4" [rows]="5"></bft-skeleton>
              </div>
            }
            @else {
            @for (pack of groupedPacks; track $index) {
            <nz-collapse-panel [nzHeader]="packHeader" [nzActive]="false"
              class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
              <ng-template #packHeader>
                <div class="flex justify-between items-center w-full">
                  <span class="font-semibold mt-1">{{ pack.name }}</span>
                </div>
              </ng-template>

              <nz-collapse nzBordered="false" class="bg-white rounded-lg">
                <div class="overflow-x-auto overflow-y-auto max-h-[272px] mt-3">
                  <table class="w-full form-table min-w-[1100px] border-collapse">
                    <thead class="sticky top-0 bg-white z-10 p-2">
                      <tr>
                        <th class="table-header border border-t-0 w-2/5 text-left ps-5">Flavour</th>
                        <th class="table-header border border-t-0 w-2/5 text-left ps-5">Stock</th>
                       
                      </tr>
                    </thead>

                    <tbody>
                      @for (row of getPackData(pack.ProductID);track $index) {
                      <tr class="border-b text-center">
                        <td class="py-3 px-4 border-l border-r w-2/5 text-left">
                          {{ row.FlavorName || row.FlavourName || row.name }}
                        </td>
                        <td class="py-3 px-4 border-l border-r w-2/5 text-left">
                          {{ row.UpdatedStock ?? row.Stock  ?? 0 }} / {{ row.Stock / row.BoxCase}}
                        </td>

                        
                      </tr>

                      }
                    </tbody>

                  </table>
                </div>

              </nz-collapse>
            </nz-collapse-panel>
            }
            }
          </nz-collapse>
        </ng-template>
        </mat-tab>
    </mat-tab-group>



  </div>
</div>