<div class="flex flex-col gap-4">
    <bft-input-text name="Name" label="Name" [(ngModel)]="formData.Name" [required]="true" [skeleton]="isDataLoading" />
    <div class="grid grid-cols-2 gap-4">
        <bft-input-text name="Code" label="Code" [(ngModel)]="formData.Code" [skeleton]="isDataLoading" />
        <bft-input-text name="PhoneNo" label="Phone No" [(ngModel)]="formData.PhoneNo" [skeleton]="isDataLoading" />
    </div>
    <bft-select name="DistributorID" label="Distributor" [displayList]="distributors" valueField="ID" displayField="Name"
        [(ngModel)]="formData.DistributorID" [clearable]="true" [skeleton]="isDataLoading" />
    <bft-input-text name="Email" label="Email" [(ngModel)]="formData.Email" [skeleton]="isDataLoading" />
    <bft-textarea name="Address" label="Address" [(ngModel)]="formData.Address" [skeleton]="isDataLoading" />
    <bft-checkbox name="IsActive" label="Active" [(ngModel)]="formData.IsActive" [skeleton]="isDataLoading" />
</div>
