<mat-form-field class="w-full" >

    @if (label != '') {
        <mat-label>{{label}}</mat-label>
    }

    <input matInput  appCurrencyFormatter [name]="name" [placeholder]="placholder"  [disabled]="disabled"   [required]="required" 
        #inputName="ngModel" [(ngModel)]="model" (ngModelChange)="onValueChange(model)" >
    
    @if (suffixText != null && suffixIcon == null) {
        <span matSuffix>{{suffixText}}</span>
    }
    @else if(suffixText == null && suffixIcon !=null ){
        <mat-icon matSuffix>{{suffixIcon}}</mat-icon>
    }
    
    @if (symbol != null ) {
        <span matPrefix class="me-0.5">{{symbol}}</span>
    }

    @if (inputName.errors && inputName.errors.required) {
        <mat-error>This field is required</mat-error>
    }
</mat-form-field>
