@if(skeleton){

    <bft-skeleton />
}

@else {
<nz-form-item>
    @if (label != '') {
        <nz-form-label [nzRequired]="required">
            {{label}}
        </nz-form-label>
    }
    <nz-form-control [nzErrorTip]="required ? errorTpl : ''">
        <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
            <input nz-input type="text" [placeholder]="placholder" [name]="name" [(ngModel)]="model"
                #inputName="ngModel" [required]="required" [disabled]="disabled" (focusout)="onFocusOut(inputName)"  [nzAutocomplete]="nzAutocomplete"
                (ngModelChange)="onValueChange(model)" />
        </nz-input-group>
        
        <ng-template #errorTpl let-control>
            @if (control.invalid && (control.dirty || control.touched)) {
            <ng-container>
                This field is required
            </ng-container>
            }
        </ng-template>

        <ng-template #prefixTemplate>
            @if (prefixText != null && prefixIcon == null && prefixSvgIcon == null) {
            <span>{{prefixText}}</span>
            }
            @else if(prefixText == null && prefixIcon == null && prefixSvgIcon != null ){
            <mat-icon [svgIcon]="prefixSvgIcon"  class="icon-size-4"></mat-icon>
            }
            @else if(prefixText == null && prefixIcon !=null && prefixSvgIcon == null ){
            <mat-icon>{{prefixIcon}}</mat-icon>
            }
        
        </ng-template>
        <ng-template #suffixTemplate>
            @if (suffixText != null && suffixIcon == null) {
            <span>{{suffixText}}</span>
            }
            @else if(suffixText == null && suffixIcon !=null ){
            <mat-icon>{{suffixIcon}}</mat-icon>
            }
        </ng-template>
    </nz-form-control>
</nz-form-item>

}