
<div class="w-full">
    <nz-space nzSize="middle" class="mt-3 mb-3 w-full">
        <div class="w-full">
            @if (type == 'input') {
    
                <nz-skeleton-element nzType="input" [nzActive]="true"></nz-skeleton-element>
                }
                @else if(type == 'button'){
                <nz-skeleton-element nzType="button" [nzActive]="true"></nz-skeleton-element>
                }
                @else if (type == 'avatar') {
                <nz-skeleton-element nzType="avatar" [nzActive]="true"></nz-skeleton-element>
                }
                @else if (type == 'image') {
                <nz-skeleton-element nzType="image" [nzActive]="true"></nz-skeleton-element>
                }
                @else if (type == 'table') {
                <div class="w-full">
                    <div class="flex gap-3 mb-3">
                        @for (c of [].constructor(columns); track $index) {
                        <div class="flex-1">
                            <nz-skeleton-element nzType="input" [nzActive]="true"></nz-skeleton-element>
                        </div>
                        }
                    </div>
                    <div class="space-y-2">
                        @for (r of [].constructor(rows); track $index) {
                        <div class="grid" [ngStyle]="{'grid-template-columns': 'repeat(' + columns + ', minmax(0, 1fr))', 'gap.px': 12}">
                            @for (c of [].constructor(columns); track $index) {
                            <nz-skeleton-element nzType="input" [nzActive]="true"></nz-skeleton-element>
                            }
                        </div>
                        }
                    </div>
                </div>
                }
        </div>
        
    </nz-space>
</div>
