<!-- Reusable Employee Form Fields -->
<ng-template #employeeFormFields>
    <div class="grid grid-cols-12 gap-2">
        <div class="col-span-3">
            <bft-input-date name="JoinDate" label="Join Date" required="true" [skeleton]="isDataLoading"
                [(ngModel)]="formData.JoinDate" />
        </div>
        <div class="col-span-3">
            <bft-input-text name="EmployeeID" label="Employee ID" [(ngModel)]="formData.EmployeeId" [skeleton]="isDataLoading"  />
        </div>
        <div class="col-span-6">
            <bft-input-text name="Description" label="Employee Name" required="true" [(ngModel)]="formData.Description"
                [skeleton]="isDataLoading" />
        </div>
    </div>

    <div class="grid grid-cols-2 gap-2 mt-2">
        <div class="w-full">
            <bft-input-email name="Email" label="Email" [(ngModel)]="formData.Email" [skeleton]="isDataLoading" />
        </div>
        <div class="w-full">
            <bft-input-phone name="PhoneNo" label="Phone No" [(ngModel)]="formData.PhoneNo" [skeleton]="isDataLoading"
                mask="(000)000-0000" flagImg="https://cdn.kcak11.com/CountryFlags/countries/pk.svg" />
        </div>
    </div>

    <div class="grid grid-cols-2 gap-2 mt-2">
        <div class="w-full">
            <bft-select name="SalaryTypeID" label="Salary Type" [(ngModel)]="formData.SalaryTypeID" [displayList]="salaryTypes"
                valueField="ID" displayField="Description" [skeleton]="isDataLoading" />
        </div>
        <div class="w-full">
            <bft-input-currency name="Salary" label="Salary" [(ngModel)]="formData.Salary" [skeleton]="isDataLoading" symbol="$" />
        </div>
    </div>
    
    <div class="grid grid-cols-2 gap-2 mt-2">
        <div class="w-full">
            <bft-checkbox name="IsActive" label="Active" [(ngModel)]="formData.IsActive" [skeleton]="isDataLoading" />
        </div>
    </div>
</ng-template>

<!-- Form without tabs (for Add mode when formData.ID is null/undefined) -->
@if (!formData.ID || formData.ID <= 0) {
    <ng-container [ngTemplateOutlet]="employeeFormFields"></ng-container>
}

<!-- Form with tabs (for Edit mode when formData.ID > 0) -->
@if (formData.ID && formData.ID > 0) {
    <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">
        <mat-tab label="General">
            <ng-template matTabContent>
                <div class="mt-3">
                    <ng-container [ngTemplateOutlet]="employeeFormFields"></ng-container>
                </div>
            </ng-template>
        </mat-tab>

        @if(employeeHistory.length > 0) {
            <mat-tab label="History">
                <ng-template matTabContent>
                    <div class="overflow-x-auto overflow-y-auto max-h-[270px] mt-3">
                        <table class="w-full form-table min-w-[1100px] border-collapse">
                          <thead class="sticky top-0 bg-white z-10 p-2">
                          <tr>
                            <th class="px-2 table-header border border-t-0 w-4/10 text-left">Activity</th>
                            <th class="px-2 table-header border border-t-0 w-2/10 text-center">Salary</th>
                            <th class="px-2 table-header border border-t-0 w-2/10 text-center">Modified By</th>
                            <th class="px-2 table-header border border-t-0 w-2/10 text-center">Modified Date</th>
                          </tr>
                        </thead>
                        <tbody>
                            @for (history of employeeHistory; track history.ID) {
                                <tr>
                                    <td class="py-1 px-2 border-b border-r border-l w-4/10 text-left">{{ history.Description }}</td>
                                    <td class="py-1 px-2 border-b border-r w-2/10 text-center">{{ history.Salary | currency:'USD' }}</td>
                                    <td class="py-1 px-2 border-b border-r w-2/10 text-center">{{ history.ModifiedBy }}</td>
                                    <td class="py-1 px-2 border-b border-r w-2/10 text-center">{{ history.ModifiedDate | date:'MM/dd/yyyy' }}</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
                </ng-template>
            </mat-tab>
        }
    </mat-tab-group>
}