<div class="grid grid-cols-2 gap-2">


    <div class="w-full ">
        <bft-input-text name="Name" [required]="true" label="Group Name" [(ngModel)]="formData.Name"
            [skeleton]="isDataLoading" />
    </div>

</div>

<div class="grid grid-cols-2 gap-2 mb-3">
    <div class="w-full">
        <bft-checkbox name="IsActive" label="Active" [(ngModel)]="formData.IsActive" [skeleton]="isDataLoading" />
    </div>
</div>


@if (groups.length > 0) {
<mat-tab-group class="grp" [(selectedIndex)]="selectedTabIndex" mat-stretch-tabs="true" [animationDuration]="'0'">
    @for (group of groups; track $index) {
    <mat-tab>
        <ng-template mat-tab-label>
            <div
                class="justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-all flex items-center space-x-2 px-6 py-4 rounded-none border-b-2 border-transparent">
                <div class="flex items-center gap-2 tab">
                    <mat-icon [svgIcon]="group.ModuleIcon"
                        class="text-gray-600 icon h-3 w-3 text-[13px] focus:text-gray-900 active:text-gray-900"></mat-icon>
                    <span class="font-medium text-[13px]">{{ group.ModuleName }}</span>
                </div>
                <span
                    class="inline-flex items-center rounded-full border px-3 py-0.5 h-6 font-semibold transition-colors focus:outline-hidden focus:ring-2 focus:ring-ring focus:ring-offset-2 text-gray-800 ml-2 text-xs "
                    [ngClass]="{'text-gray-900 ': selectedTabIndex === $index, 'text-gray-600 ': selectedTabIndex !== $index}">
                    {{ group.Sections.length }}
                </span>
            </div>
        </ng-template>

        <ng-template matTabContent>
            <table class="w-full border table-fixed border-collapse">
                <thead class="border bg-gray-50">
                    <tr>
                        <th class=" table-header py-6 w-[340px] text-gray-900">
                            <div class="flex items-center px-5 gap-y-1 font-semibold text-gray-900 ">
                                <mat-icon [svgIcon]="group.ModuleIcon" class="text-gray-900"></mat-icon>
                                <span class="pl-2 text-[16px]">Entity</span>
                            </div>
                        </th>

                        @for (item of group.Rights; track $index) {
                            <th
                                class="table-header font-semibold w-45 text-[#374151] cursor-pointer hover:bg-gray-100 transition-colors">
                                <div class="flex flex-col items-center gap-y-1">
                                    <mat-icon [svgIcon]="item.RightIcon"
                                        class="text-[#374151] text-[12px]"></mat-icon>
                                    <span class="text-[12px] text-[#374151]">{{item.RightName}}</span>
                                </div>
                            </th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @for (section of group.Sections; track $index) {
                    <tr class="border-b py-2 hover:bg-gray-50 transition-colors duration-200">
                        <td class="py-4 px-3 flex items-center gap-2 font-medium text-gray-900">
                            <bft-checkbox [ngModel]="isAllChecked(section)" [nzIndeterminate]="isIntermediate(section)"
                            
                                (ngModelChange)="setAll(section, $event)" [skeleton]="isDataLoading" class="px-3" />
                            {{ section.SectionName }}
                        </td>

                        @for (right of section.Rights; track $index) {
                        <td class="text-center">
                            <bft-checkbox [(ngModel)]="right.completed" [skeleton]="isDataLoading" (ngModelChange)="onRightChange(section)" />
                        </td>
                        }
                    </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="5"
                            class="py-4 pl-6 bg-gray-50 p-4 border-t border-l border-r border-b text-sm text-gray-600">
                            {{ group.Sections.length }} entities configured
                        </td>
                    </tr>
                </tfoot>
            </table>
        </ng-template>
    </mat-tab>
    }
</mat-tab-group>
}
