 <!-- <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">
        <mat-tab label="General">
         
        </mat-tab>
</mat-tab-group> -->
@if (primaryKey > 0) {
    <div class="grid grid-cols-3 gap-2 mt-2 items-end">
        <div class="w-full">
            <bft-input-number name="InvoiceNo" [required]="true" label="Invoice #" [(ngModel)]="formData.InvoiceNo"
                [skeleton]="isDataLoading" />
        </div>
        <div class="w-full">
            <bft-input-date name="ShipmentDate" [required]="true" label="Shipment Date" [(ngModel)]="formData.ShipmentDate"
                [skeleton]="isDataLoading" />
        </div>
        <div class="w-full flex justify-end">
            <div class="pb-2">
                <bft-button name="Print" icon="print"  class="py-1" (onClick)="onPrint()"/>
            </div>
        </div>
    </div>
}

 <nz-collapse nzBordered="false" class="main-collapse mt-4">

    <nz-collapse-panel [nzHeader]="companyHeader" [nzActive]="false"
        class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
        <ng-template #companyHeader>
        <div class="flex justify-between items-center w-full">
            <span class="font-semibold mt-1">Company Details</span>
        </div>
        </ng-template>

        <nz-collapse nzBordered="false" class="bg-white rounded-lg">
            <div class="w-full">
                <div class="mt-4 grid gap-2 grid-cols-2 sm:grid-cols-4">
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyName" label="Name" required="true"
                            [(ngModel)]="formData.CompanyName"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyEmail" label="Email" 
                        [(ngModel)]="formData.CompanyEmail" required="true"></bft-input-text>
                    </div>
                    
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyCity" label="City" 
                        [(ngModel)]="formData.CompanyCity" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyCountry" label="Country" 
                        [(ngModel)]="formData.CompanyCountry" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyContactPerson" label="Contact Person" required="true"
                            [(ngModel)]="formData.CompanyContactPerson"></bft-input-text>
                    </div>
                    
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyTel" label="Tel" 
                        [(ngModel)]="formData.CompanyTel" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="CompanyRnc" label="RNC" required="true"
                            [(ngModel)]="formData.CompanyRnc"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-textarea name="CompanyAddress" label="Address" [(ngModel)]="formData.CompanyAddress"
                            required="true"></bft-textarea>
                    </div>
                </div>
            </div>
        </nz-collapse>
    </nz-collapse-panel>

    <nz-collapse-panel [nzHeader]="clientHeader" [nzActive]="false"
        class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
        <ng-template #clientHeader>
        <div class="flex justify-between items-center w-full">
            <span class="font-semibold mt-1">Client Details</span>
        </div>
        </ng-template>

        <nz-collapse nzBordered="false" class="bg-white rounded-lg">
            <div class="w-full">
                <div class="mt-4 grid gap-2 grid-cols-2 sm:grid-cols-4">
                
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientName" label="Name" 
                        [(ngModel)]="formData.ClientName" required="true"></bft-input-text>
                    </div>
                    
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientEmail" label="Email" 
                            [(ngModel)]="formData.ClientEmail" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientTel" label="Tel" 
                            [(ngModel)]="formData.ClientTel" required="true"></bft-input-text>
                    </div>
                    
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientFax" label="Fax" 
                            [(ngModel)]="formData.ClientFax" required="true"></bft-input-text>
                    </div>
                    
                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientCity" label="City" 
                            [(ngModel)]="formData.ClientCity" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientState" label="State" 
                            [(ngModel)]="formData.ClientState" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-input-text name="ClientZipcode" label="Zipcode" 
                            [(ngModel)]="formData.ClientZipcode" required="true"></bft-input-text>
                    </div>

                    <div class="w-full sm:col-span-2">
                        <bft-textarea name="ClientAddress" label="Address" [(ngModel)]="formData.ClientAddress"
                            required="true"></bft-textarea>
                    </div>

                </div>
            </div>
        </nz-collapse>
    </nz-collapse-panel>
            
    <nz-collapse-panel [nzHeader]="shipmentHeader" [nzActive]="true"
        class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
        <ng-template #shipmentHeader>
        <div class="flex justify-between items-center w-full">
            <span class="font-semibold mt-1">Shipment Details</span>
        </div>
        </ng-template>

        <nz-collapse nzBordered="false" class="bg-white rounded-lg">
            <div class="w-full">

                <div class=" w-5/5 overflow-x-auto" style="max-height: 325px;">
                    <table class="w-full form-table mt-1 min-w-[100%]">
                        <colgroup>
                            <col style="width:11%"> <!-- Case -->
                            <col style="width:11%"> <!-- Item ID-->
                            <col style="width:11%"> <!-- Flavor -->
                            <col style="width:11%"> <!-- Qty -->
                            <col style="width:11%"> <!-- Net Weight -->
                            <col style="width:11%"> <!-- Gross Weight -->
                            <col style="width:12%"> <!-- Description -->
                            <col style="width:11%"> <!-- Price -->
                            <col style="width:11%"> <!-- Total Price -->
                        </colgroup>

                        <thead class="sticky top-0 bg-white z-10">
                            <tr>
                                <th class="table-header border-r border-l">Case</th>
                                <th class="table-header border-r border-l">Item ID</th>
                                <th class="table-header border-r border-l">Flavor</th>
                                <th class="table-header border-r ">Qty</th>
                                <th class="table-header border-r ">Net Weight</th>
                                <th class="table-header border-r ">Gross Weight</th>
                                <th class="table-header border-r ">Description</th>
                                <th class="table-header border-r ">Price</th>
                                <th class="table-header border-r ">Total Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (element of formData.Shipment; track $index) {
                            <tr class="border-b py-2">

                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-number name="Case" [(ngModel)]="element.Case" [skeleton]="isDataLoading"
                                        (change)="getQty(element)" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-text name="ItemID" [(ngModel)]="element.ItemID" [skeleton]="isDataLoading" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">

                                    @if(isDataLoading){
                                    <bft-skeleton />
                                    }
                                    @else {
                                    <nz-form-item>
                                        <nz-form-control>
                                            <nz-input-group class="non-prefix-select">
                                                <nz-select nzAllowClear nzShowSearch nzPlaceHolder="Select Flavor" class="w-full"
                                                    [(ngModel)]="element.FlavourID" (ngModelChange)="onItemSelect(element)" >
                                                    @for (product of items; track product.ProductID) {
                                                    <nz-option-group [nzLabel]="product.name">
                                                        @for (flavour of product.flavours; track flavour.FlavorID) {
                                                        <nz-option [nzValue]="flavour.FlavorID"
                                                            [nzLabel]="flavour.name"></nz-option>
                                                        }
                                                    </nz-option-group>
                                                    }
                                                </nz-select>
                                            </nz-input-group>
                                        </nz-form-control>
                                    </nz-form-item>
                                    }
                                </td>

                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-number name="Qty" [(ngModel)]="element.Qty" [skeleton]="isDataLoading"
                                        (change)="getQty(element)" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-number name="NetWeight" [required]="true" [(ngModel)]="element.NetWeight"
                                        [skeleton]="isDataLoading" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-number name="GrossWeight" [required]="true" [(ngModel)]="element.GrossWeight"
                                        [skeleton]="isDataLoading" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-textarea name="Description" [(ngModel)]="element.Description"
                                        [skeleton]="isDataLoading" />
                                </td>
                                
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-currency name="Price" [required]="true" [(ngModel)]="element.Price"
                                        [skeleton]="isDataLoading" symbol="$" (change)="getTAmt(element)" />
                                </td>
                                <td class="py-0 px-2 border-r border-l">
                                    <bft-input-currency name="TotalPrice" [(ngModel)]="element.TotalPrice" [skeleton]="isDataLoading"
                                        [disabled]="true" symbol="$" />
                                </td>

                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </nz-collapse>
    </nz-collapse-panel>
</nz-collapse>

