<mat-form-field class="w-full" >

    @if (label != '') {
        <mat-label>{{label}}</mat-label>
    }
    <input matInput [name]="name" [placeholder]="placholder"  [disabled]="disabled"   [required]="required" 
        #inputName="ngModel" [matDatepicker]="picker" [(ngModel)]="model" (ngModelChange)="onValueChange(model)" >

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @if (suffixText != null && suffixIcon == null) {
        <span matSuffix>{{suffixText}}</span>
    }
    @else if(suffixText == null && suffixIcon !=null ){
        <mat-icon matSuffix>{{suffixIcon}}</mat-icon>
    }

    @if (inputName.errors && inputName.errors.required) {
        <mat-error>This field is required</mat-error>
    }
</mat-form-field>

{{model}}