<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto p-6 md:p-8" cdkScrollable>
    <div class="flex-0">
        <div class="mb-4">
            <div class="flex justify-between">
                <div class="text-3xl font-semibold leading-8 tracking-tight">{{ title }} List</div>
                <div class="range-picker">
                    <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                </div>
            </div>
        </div>
        <bft-table [dataSource]="data" [(isVisible)]="isVisible" [columns]="columns" (view)="onView($event)" currency="PKR">
            <wrapper-add [SCode]="SCode">
                <button nz-button nz-dropdown [nzDropdownMenu]="categoryMenu" nzType="primary">
                    + New &nbsp;<span nz-icon nzType="down"></span>
                </button>
            </wrapper-add>
            <bft-button class="ml-3" name="Setting" svgIcon="mat_solid:settings" (onClick)="isVisible = true" />
            <bft-button class="ml-3" name="Export" svgIcon="feather:file" />
        </bft-table>
    </div>
</div>

<nz-dropdown-menu #categoryMenu="nzDropdownMenu">
    <ul nz-menu>
        @for (cat of paymentCategories; track cat.ID) {
            <li nz-menu-item (click)="addNew(cat.ID)">{{ cat.Description }}</li>
        }
    </ul>
</nz-dropdown-menu>
