@if(skeleton){

    <bft-skeleton />
}

@else {
<nz-form-item >
    @if (label != '') {
        <nz-form-label [nzRequired]="required">
            {{label}}
        </nz-form-label>
    }
    <nz-form-control [nzErrorTip]="required ? errorTpl : ''">
        <nz-input-group [nzSuffix]="suffixTemplate" [nzPrefix]="prefixTemplate">
            <input nz-input [type]="passwordVisible ? 'text' : 'password'" [name]="name" [(ngModel)]="model"
                #inputName="ngModel" [required]="required" [disabled]="disabled" (focusout)="onFocusOut(inputName)"
                (ngModelChange)="onValueChange(model)" />
        </nz-input-group>
        <ng-template #suffixTemplate>
           
            <mat-icon style="cursor: pointer;"
                class="icon-size-5"
                [svgIcon]="passwordVisible ? 'heroicons_solid:eye' : 'heroicons_solid:eye-slash'"
                (click)="passwordVisible = !passwordVisible"
            ></mat-icon>

        </ng-template>

        <ng-template #prefixTemplate>
            @if (prefixText != null && prefixIcon == null && prefixSvgIcon == null) {
            <span>{{prefixText}}</span>
            }
            @else if(prefixText == null && prefixIcon == null && prefixSvgIcon != null ){
            <mat-icon [svgIcon]="prefixSvgIcon"   class="icon-size-4"></mat-icon>
            }
            @else if(prefixText == null && prefixIcon !=null && prefixSvgIcon == null ){
            <mat-icon>{{prefixIcon}}</mat-icon>
            }
        </ng-template>
        
        <ng-template #errorTpl let-control>

            @if (control.invalid && (control.dirty || control.touched)) {
                <ng-container >
                    This field is required
                </ng-container>
            }

        </ng-template>
    </nz-form-control>
</nz-form-item>
}
