@media (max-width: 768px) {
  .grid.grid-cols-2{
    grid-template-columns: 1fr !important;
    margin-bottom: 0.6rem;
  }

  .grid.grid-cols-2 > div {
    width: 100% !important;
    margin-bottom: 0.1rem !important; 
  }

  .grid.grid-cols-2 > div.first {
    margin-top: 1rem !important; 
  }

  bft-input-text,
  bft-select,
  bft-input-currency,
  bft-input-date {
    display: block;
    width: 100%;

    ::ng-deep label {
      display: block;
      font-size: 0.95rem;
    }

    ::ng-deep input,
    ::ng-deep select {
      width: 100%;
      font-size: 0.95rem;
    }
  }

  .action-buttons {
    margin-top: 1.5rem;
  }
}