<div class="grid grid-cols-2 gap-2 mt-2">
    <div class="w-full first">
        <bft-input-text name="Code" label="Code" [(ngModel)]="formData.Code" [skeleton]="isDataLoading" />
    </div>
    <div class="w-full">
        <bft-input-text name="BusinessName" label="Shop Name" [(ngModel)]="formData.BusinessName"
            [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid grid-cols-2 gap-2">
    <div class="w-full">
        <bft-input-text name="Description" label="Name" [(ngModel)]="formData.Description"
            [skeleton]="isDataLoading" [required]="true" />
    </div>

    <div class="w-full">
        <bft-input-text name="Email" [(ngModel)]="formData.Email" label="Email" [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid grid-cols-12 gap-2">
    <!-- City -->
    <div class="col-span-3">
        <bft-select name="CityID" [required]="true" [(ngModel)]="formData.CityID" [displayList]="cityDrp" label="City"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading"
            (onChange)="OnCitySelection(formData.CityID)" />
    </div>

    <!-- Area -->
    <div class="col-span-3">
        <bft-select name="AreaID" [required]="true" [(ngModel)]="formData.AreaID" [displayList]="areaDrp" label="Area"
            valueField="ID" displayField="Description" [skeleton]="isDataLoading"
            (onChange)="OnAreaSelection(formData.AreaID)" />
    </div>

    <!-- Route -->
    <div class="col-span-6">
        <bft-select name="RouteID" [required]="true" [(ngModel)]="formData.RouteID" [displayList]="routeDrp"
            label="Route" valueField="ID" displayField="Description" [skeleton]="isDataLoading" />
    </div>
</div>
<div class="grid grid-cols-2 gap-2">

    <div class="w-full">
        <bft-input-phone name="PhoneNo" label="Phone No" [(ngModel)]="formData.PhoneNo" [skeleton]="isDataLoading"
            mask="(000)000-0000" flagImg="https://cdn.kcak11.com/CountryFlags/countries/pk.svg" />
    </div>
    <div class="w-full">
        <bft-input-phone name="PhoneNo2" label="Phone No 2" [(ngModel)]="formData.PhoneNo2" [skeleton]="isDataLoading"
            mask="(000)000-0000" flagImg="https://cdn.kcak11.com/CountryFlags/countries/pk.svg" />
    </div>

</div>






<div class="grid grid-cols-1 mt-1">
    <div class="w-full">
        <bft-checkbox name="IsActive" label="Active" [(ngModel)]="formData.IsActive" [skeleton]="isDataLoading" />
    </div>
</div>



<mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'" mat-align-tabs="center">

    <mat-tab label="General Information">

        <ng-template matTabContent>

            <div class="grid grid-cols-2 gap-2  mt-2">

                <div class="w-full">
                    <bft-select name="MemberTypeID" [(ngModel)]="formData.MemberTypeID" [displayList]="memberTypeDrp"
                        label="Member Type" valueField="ID" displayField="Description" [skeleton]="isDataLoading" />
                </div>
                <div class="w-full">
                    <bft-textarea name="Address" label="Address" [(ngModel)]="formData.Address"
                        [skeleton]="isDataLoading" />
                </div>
            </div>



        </ng-template>
    </mat-tab>

    <mat-tab label="Payment Information">

        <ng-template matTabContent>
            <div class="grid grid-cols-2 gap-2 mt-2">
                <div class="w-full">
                    <bft-input-currency name="Limit" label="Limit" [(ngModel)]="formData.Limit"
                        [skeleton]="isDataLoading" />
                </div>
                <div class="w-full">
                    <bft-input-currency name="OpeningBalance" label="Opening Balance"
                        [(ngModel)]="formData.OpeningBalance" [skeleton]="isDataLoading"
                        [disabled]="initialOpeningBalance > 0" />
                </div>


            </div>
            <div class="grid grid-cols-12 gap-2 mt-1">

                <div class="w-full col-span-3">
                    <bft-input-currency name="TotalPurchase" label="Total Purchase" [(ngModel)]="formData.TotalPurchase"
                        [skeleton]="isDataLoading" [disabled]="true" />
                </div>
                <div class="w-full col-span-3">
                    <bft-input-currency name="Payment" label="Payment" [(ngModel)]="formData.Payment"
                        [skeleton]="isDataLoading" [disabled]="true" />
                </div>

                <div class="w-full col-span-6">
                    <bft-input-currency name="ClosingBalance" label="Closing Balance"
                        [(ngModel)]="formData.ClosingBalance" [skeleton]="isDataLoading" [disabled]="true" />
                </div>

            </div>

        </ng-template>

    </mat-tab>
</mat-tab-group>