<div class="grid grid-cols-12 gap-2">
    <div class="col-span-6">
        <bft-input-date name="OrderDate" label="Order Date" [(ngModel)]="formData.OrderDate" [required]="true" />
    </div>
    <div class="col-span-6">
      <bft-input-text name="Customer" label="Customer Name" [(ngModel)]="user.FullName" disabled required="true"></bft-input-text> 
        <!-- <bft-select name="CustomerID" label="Customer" [displayList]="customers" valueField="ID"
            displayField="Description" [(ngModel)]="formData.CustomerID" [required]="true"/> -->
    </div>
    <!-- <div class="col-span-6">
        <bft-select name="CustomerID" label="Customer" [displayList]="customers" valueField="ID"
            displayField="Description" [(ngModel)]="formData.CustomerID" [required]="true"/>
    </div> -->
</div>


<nz-collapse nzBordered="false" class="main-collapse mt-4 bg-white">
  @for (pack of groupedPacks; track pack.name) {
    <nz-collapse-panel
      [nzHeader]="packHeader"
      [nzActive]="false"
      class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1"
    >
      <ng-template #packHeader>
        <div class="flex justify-between items-center w-full">
          <span class="font-semibold">{{ pack.name }}</span>
          <span class="border px-4 py-1 rounded-full text-sm text-gray-600">
            {{ pack.flavours.length }} Flavours
          </span>
        </div>
      </ng-template>

      <div class="overflow-x-auto overflow-y-auto max-h-[270px] mt-3">
        <table class="w-full form-table min-w-[1100px] border-collapse">
          <thead class="sticky top-0 bg-white z-10 p-2">
            <tr>
              <th class="table-header border border-t-0 w-2/5 text-left ps-5">Flavour</th>
              <th class="table-header border border-t-0 w-2/5 text-center">Quantity</th>
              <th class="table-header border border-t-0 w-1/5 text-center">Case</th>
            </tr>
          </thead>

          <tbody>
            @for (flavour of pack.flavours; track flavour.name) {
            <tr class="border-b">
              <td class="py-2 px-2 border-r border-l w-2/5">
                <span class="flex items-center">
                  <span class="ml-2">{{ flavour.name }}</span>
                </span>
              </td>


              <td class="py-2 px-2 border-r w-2/5 text-center">
                <div class="flex justify-center items-center gap-2">
                  <bft-button name="-" (onClick)="decrementQty(flavour)" ></bft-button>
                  <bft-input-number [(ngModel)]="flavour.qty" />
                  <bft-button name="+" (onClick)="incrementQty(flavour)" ></bft-button>
                </div>
              </td>
              <td class="py-2 px-2 border-r w-1/5 text-center">
                <div class="flex justify-center items-center gap-2">
                   {{ getCaseQty(flavour,'Box','qty') }}
                </div>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </nz-collapse-panel>
  }
</nz-collapse>
