<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto p-6 md:p-8" cdkScrollable>
    <div class="flex-0">
        <div class="mb-7">

            <div class="text-3xl font-semibold leading-8 tracking-tight">
                Shipment Invoice
            </div>
        </div>

        <app-report-viewer-tool pageSize="A4" (filter)="open($event)" (exportPdf)="onPdfGenerate()"
            (doprint)="onPrintReport()" (pageIndexChanged)="onPageIndexChanged($event)">

            @if(records && records.length > 0) {
            @for (element of records; track $index) {

            <!-- Company Name Heading -->
            <div #pageContent class="text-center my-5 invoice-block page-break-avoid">
                <div class="text-2xl font-bold text-gray-900 uppercase">
                    {{element.CompanyName}}
                </div>
            </div>

            <!-- Top Header Section -->
            <div #pageContent class="flex justify-end mb-5 text-sm page-break-avoid">
                <div class="text-right space-y-1">
                    <div class="font-semibold">FACTURA: {{element.InvoiceNo || '-'}}</div>
                    <div>FECHA/DATE: {{formatDate(element.ShipmentDate)}}</div>
                    <div>PAGINA/PAGE: {{$index + 1}}/{{records.length}}</div>
                    <div>GROSS WEIGHT KGS: {{getTotal(element, 'GrossWeight')}}</div>
                    <div>TOTAL PCS: {{getTotal(element, 'Case')}}</div>
                    <div>DABOSSLEAF CUTS DIMENSIONS: {{element.FirstDimension}}</div>
                    <div>DABOSSLEAF CUTS DIMENSIONS: {{element.SecondDimension}}</div>
                </div>
            </div>

            <div #pageContent class="flex items-start justify-between mb-5 page-break-avoid">
                <div class="flex items-start gap-4 w-3/3">
                    <div>
                        <div class="space-y-1">

                            <div class="text-lg font-bold text-gray-900 uppercase">
                                EMPRESA: {{element.CompanyName}}
                            </div>
                            <div class="text-sm text-gray-600">
                                RNC: {{element.CompanyRnc}}
                            </div>
                            <div class="text-sm text-gray-600">
                                PERSONA DE CONTACTO: {{element.CompanyContactPerson}}
                            </div>
                            <div class="text-sm text-gray-600">
                                DIRECCION: {{element.CompanyAddress}},
                            </div>
                            <div class="text-sm text-gray-600">
                                {{element.CompanyCity}}, {{element.CompanyCountry}}
                            </div>
                            <div class="text-sm text-gray-600">
                                TEL: {{element.CompanyTel}}
                            </div>
                            <div class="text-sm text-gray-600">
                                EMAIL: {{element.CompanyEmail}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div #pageContent class="grid grid-cols-2 gap-8 text-sm mb-5 page-break-avoid">

                <div>
                    <div class="text-lg font-bold text-gray-900 uppercase">
                        CLIENTE: {{element.ClientName}}
                    </div>

                    <div class="text-sm text-gray-600">
                        DIRECCION: {{element.ClientAddress}}, {{element.ClientCity}}, {{element.ClientState}} {{element.ClientZipcode}}
                    </div>
                    
                    <div class="text-sm text-gray-600">
                        Tel: {{element.ClientTel || '-'}} | Fax: {{element.ClientFax || '-'}}
                    </div>

                    <div class="text-sm text-gray-600">
                        COMPANY EMAIL: {{element.ClientEmail || '-'}}
                    </div>
                  
                </div>
            </div>

            <div #pageContent class="text-center mt-4 text-sm">
                <span class="font-semibold">ORIGIN OF ALL TOBACCO COMPONENTS, REPUBLICA DOMINICANA</span>
            </div>
            
            <div #pageContent class="text-center mt-4 text-sm">
                <span class="font-semibold border border-gray-300 px-4 py-2">DOES NOT INCLUDE ANY CUBAN TOBACCOS</span>
            </div>


            <!-- Table Header -->
            <div #pageContent class="text-sm mt-4 page-break-avoid">
                <div class="grid grid-cols-12 font-semibold text-gray-600 border-t border-b border-gray-300 ">
                    <div class="col-span-1 border-gray-300 border-l flex items-end justify-center text-center">MC Units</div>
                    <div class="col-span-1 border-gray-300 border-l flex items-end justify-center text-center">Item ID</div>
                    <div class="col-span-2 border-gray-300 border-l flex items-end justify-center text-center">QTY</div>
                    <div class="col-span-1 border-gray-300 border-l flex items-end justify-center text-center">NET WEIGHT KG</div>
                    <div class="col-span-1 border-gray-300 border-l flex items-end justify-center text-center">GROSS WEIGHT KG</div>
                    <div class="col-span-3 border-gray-300 border-l flex items-end justify-center text-center">DESCRIPTION</div>
                    <div class="col-span-1 border-gray-300 border-l flex items-end justify-center text-center pr-2">PRICE</div>
                    <div class="col-span-2 border-gray-300 border-l border-r flex items-end justify-center text-center pr-2">TOTAL PRICE USD</div>
                </div>
            </div>

            <!-- Table Body -->
            @for (item of element.items; track $index) {
            <div #pageContent class="grid grid-cols-12 text-sm  border-b border-gray-300 page-break-avoid">
                <div class="col-span-1 border-gray-300 border-l text-center">{{item.Case}}</div>
                <div class="col-span-1 border-gray-300 border-l text-center">{{item.ItemID}}</div>
                <div class="col-span-2 border-gray-300 border-l text-center">{{item.Qty}}</div>
                <div class="col-span-1 border-gray-300 border-l text-center">{{item.NetWeight}}</div>
                <div class="col-span-1 border-gray-300 border-l text-center">{{item.GrossWeight}}</div>
                <div class="col-span-3 border-gray-300 border-l text-center">{{item.Description}}</div>
                <div class="col-span-1 border-gray-300 border-l text-right pr-2"> {{item.Price | currency}}</div>
                <div class="col-span-2 border-gray-300 border-l border-r text-right pr-2"> {{item.TotalPrice | currency}}</div>
            </div>
            }

            <!-- Totals Row -->
            <div #pageContent class="mt-4 text-sm page-break-avoid">
                <div class="grid grid-cols-12 bg-gray-100 py-2 px-2 font-bold text-gray-700 border-t border-b">
                    <div class="col-span-1">{{getTotal(element,'Case') }}</div>
                    <div class="col-span-3"></div>
                    <div class="col-span-1 text-center">{{ getTotal(element,'NetWeight') }}</div>
                    <div class="col-span-1 text-center">{{ getTotal(element,'GrossWeight') }}</div>
                    <div class="col-span-3 text-center">GRAND TOTAL ALL GOODS</div>
                    <div class="col-span-1 pr-2"></div>
                    <div class="col-span-2 text-right pr-2">{{ getTotal(element,'TotalPrice') | currency }}</div>
                </div>
            </div>

            <!-- Summary Section -->
            <div #pageContent class="mt-6 text-sm page-break-avoid">
                <div class="space-y-2">
                    <div>CANT. BULTOS: {{getTotal(element,'Case')}}</div>
                    <div>NOTE:</div>
                    <div>TOTAL NET WEIGHT: {{getTotal(element,'NetWeight')}}</div>
                    <div>TOTAL GROSS WEIGHT: {{getTotal(element,'GrossWeight')}}</div>
                </div>
            </div>

            <!-- Signature Section -->
            <div #pageContent class="mt-8 text-sm page-break-avoid">
                <div class="flex flex-col items-center">
                    <div class="w-64 border-t border-gray-400 mb-2"></div>
                    <div class="text-center font-semibold">FIRMA</div>
                </div>
            </div>

            }
            }
        </app-report-viewer-tool>




    </div>
</div>




<nz-drawer nzWrapClassName="filter-modal" [nzClosable]="false" [nzVisible]="IsFilterDrawerVisible"
    [nzPlacement]="'right'" (nzOnClose)="close()" #drawer>

    <ng-container *nzDrawerContent>

        <div class="flex items-center justify-between w-full filters mb-2">
            <div class="flex items-center space-x-2">
                <div class="w-8 h-8 rounded-full bg-[#E6F4F3] flex items-center justify-center pt-1">
                    <mat-icon svgIcon="mat_solid:filter_alt" class="text-[#3AAFA9]"></mat-icon>
                </div>
                <h5 class="text-base font-medium mb-0">Filters</h5>
            </div>
            <mat-icon svgIcon="heroicons_solid:x-mark" (click)="close()" class="text-red-600 cursor-pointer"></mat-icon>
        </div>
        <div class="border-b-2 mb-3"></div>

        <div class="grid grid-cols-1">
            <div class="w-full">
                <bft-input-text name="InvoiceNo" label="Invoice No" [(ngModel)]="invoiceNo" />
            </div>
        </div>
        <div class="grid grid-cols-1">
            <div class="w-full">
                <bft-input-date name="FromDate" label="From Date" [(ngModel)]="fromDate" />
            </div>
        </div>
        <div class="grid grid-cols-1">
            <div class="w-full">
                <bft-input-date name="EndDate" label="End Date" [(ngModel)]="endDate" />
            </div>
        </div>

        <div class="grid grid-cols-1 mt-4">
            <div class="w-full">
                <bft-button name="Generate" icon="settings" (onClick)="onGenerate()" />
                <bft-button name="Reset" icon="close" class="ml-2" (onClick)="onReset()" />
            </div>
        </div>

    </ng-container>

</nz-drawer>