<mat-form-field class="w-full" >

    @if (label != '') {
        <mat-label>{{label}}</mat-label>
    }

    <input matInput [name]="name" type="email" [placeholder]="placholder"  [disabled]="disabled"   [required]="required" 
        #inputName="ngModel" [(ngModel)]="model" (ngModelChange)="onValueChange(model)" pattern="^\w+([\.-]?\w+)*\+?\d*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
    
    @if (suffixText != null && suffixIcon == null) {
        <span matSuffix>{{suffixText}}</span>
    }
    @else if(suffixText == null && suffixIcon !=null ){
        <mat-icon matSuffix>{{suffixIcon}}</mat-icon>
    }

    @if (inputName.errors && inputName.errors.required) {
        <mat-error>This field is required</mat-error>
    }
    @else if (inputName.errors && inputName.errors.pattern) {
        <mat-error>Email is invalid</mat-error>
    }
</mat-form-field>
