<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto p-6 md:p-8" cdkScrollable>
    <div class="flex-0">
        <div class="mb-7">
            <div class="text-3xl font-semibold leading-8 tracking-tight">
                {{title}} List
            </div>
        </div>

        <bft-table [dataSource]="data" [(isVisible)]="isVisible" [columns]="columns" (view)="onView($event)">
           
            <wrapper-add [SCode]="SCode">
                @if(itemCategories.length > 1){

                    <bft-button name="New" accessKey="n" svgIconSuffix="heroicons_solid:chevron-down" nz-dropdown
                        [nzDropdownMenu]="menu" />

                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                            @for (item of itemCategories; track $index) {


                            <li nz-menu-item>
                                <a (click)="addOrderInvoice(item?.ID)">New {{item.Description}}</a>

                            </li>
                            }

                        </ul>
                    </nz-dropdown-menu>

                }
                @else {
                    <bft-button name="New" accessKey="n" svgIcon="mat_solid:add"
                        (onClick)="addOrderInvoice(itemCategories[0]?.ID)" />
                }
            </wrapper-add>
           
            <bft-button class="ml-3" name="Setting" svgIcon="mat_solid:settings" (onClick)="isVisible = true" />
            <bft-button class="ml-3" name="Export" svgIcon="feather:file" />
        </bft-table>
    </div>
</div>