<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto p-6 md:p-8" cdkScrollable>

  <div class="flex-0">
    <div class="mb-7">
      <div class="text-3xl font-semibold leading-8 tracking-tight">
        {{title}} List
      </div>
    </div>

    <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'">

      <mat-tab label="Pipeline Orders">
        <ng-template matTabContent>
          <div class="list-header-row grid grid-cols-3 mt-4 items-center">
            <div class="col-span-2 flex gap-3">
              <bft-button name="New Order" svgIcon="mat_solid:add" (onClick)="addFlavorOrder()" />
              <bft-button name="Filter" icon="filter_alt" (onClick)="openFilterDrawer()" />
            </div>  

            <div class="flex justify-end items-center">
              <nz-form-item class="search w-full">
                <nz-form-control class="w-full">
                  <nz-input-group [nzPrefix]="suffixIconSearch">
                    <input nz-input type="text" name="search" #input placeholder="Search..."
                      (keyup)="Search(input.value)" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <ng-template #suffixIconSearch>

                <mat-icon style="cursor: pointer;" class="icon-size-5" svgIcon="search"></mat-icon>
              </ng-template>
            </div>
          </div>

          <div class="bg-card flex flex-auto flex-col overflow-hidden rounded-2xl p-6 shadow sm:col-span-6 mt-5 ">

            <div class="flex flex-auto flex-col overflow-x-auto border ">

              <nz-table #orderTable [nzBordered]="false" [nzData]="data" [nzShowPagination]="true"
                [nzShowSizeChanger]="true" [nzPageSize]="10" class="w-full">
                <thead>
                  <tr class="py-5">
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Order No</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Order Date</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Supplier Name</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Status</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Modified By</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Modified Date</th>
                    <th class="px-4 py-3 text-left text-sm font-semibold text-black">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for (order of data; ; track trackByFn($index, order)) {
                  <tr class="hover:bg-gray-50">
                    <!-- Order ID -->
                    <td class="px-4 py-4 text-gray-900">{{ order.OrderNo }}</td>

                    <!-- Order Date -->
                    <td class="px-4 py-4  text-gray-900">{{ order.OrderDate | date:'MM/dd/yyyy'}}</td>

                    <!-- Supplier Name -->
                    <td class="px-4 py-4">
                      <div class=" text-gray-900">{{ order.SupplierName }}</div>
                    </td>

                    <td class="px-4 py-4">
                      <div class="text-gray-900">{{ order.ModifiedBy }}</div>
                    </td>

                    <td class="px-4 py-4">
                      <div class=" text-gray-900">{{ order.ModifiedDate | date:'MM/dd/yyyy' }}</div>
                    </td>

                    <!-- Status -->
                    <td class="px-4 py-4">
                      @if (order.StatusID === FlavorOrderStatusEnum.Ordered) {
                      <nz-tag nzColor="blue" class="px-2 py-0.5">{{order.Status}}</nz-tag>
                      }
                      @if (order.StatusID === FlavorOrderStatusEnum.Shipped) {
                      <nz-tag nzColor="magenta" class="px-2 py-0.5">{{order.Status}}</nz-tag>
                      }
                      @if (order.StatusID === FlavorOrderStatusEnum.Delivered) {
                      <nz-tag nzColor="green" class="px-2 py-0.5">{{order.Status}}</nz-tag>
                      }
                    </td>


                    <!-- Actions -->
                    <td class="px-4 py-4 text-left">
                      <mat-icon svgIcon="heroicons_outline:ellipsis-horizontal" nz-dropdown
                        [nzDropdownMenu]="menu"></mat-icon>

                      <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu class="min-w-[200px]">
                          <li nz-menu-item (click)="onView(order)">
                            <div class="flex items-center gap-4">
                              <mat-icon svgIcon="heroicons_outline:pencil">
                              </mat-icon>
                              <span>Edit</span>
                            </div>
                          </li>



                          <li nz-menu-item (click)="UpdateStatus(order.ID, FlavorOrderStatusEnum.Shipped, i)">
                            <div class="flex items-center gap-4">
                              <mat-icon svgIcon="heroicons_outline:truck">
                              </mat-icon>
                              <span>Set Shipped</span>
                            </div>
                          </li>

                          <li nz-menu-item (click)="UpdateStatus(order.ID, FlavorOrderStatusEnum.Delivered, i)">
                            <div class="flex items-center gap-4">
                              <mat-icon svgIcon="heroicons_outline:check-circle">
                              </mat-icon>
                              <span>Set Delivered</span>
                            </div>
                          </li>
                        </ul>
                      </nz-dropdown-menu>


                    </td>
                  </tr>
                  }
                </tbody>
              </nz-table>

            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Products">
        <ng-template matTabContent>
          <div class="list-header-row grid grid-cols-3 mt-4 items-center mb-4">
            <div class="col-span-2 flex gap-3">
              <bft-button name="Print" icon="print" (onClick)="printTable()" />
              <bft-button name="Export Excel" icon="grid_on" (onClick)="exportToExcel()" />
            </div>
          </div>
          
          <nz-collapse nzBordered="false" class="main-collapse mt-4">
            @for (pack of groupedPacks; track trackByFn($index, pack)) {
            <nz-collapse-panel [nzHeader]="packHeader" [nzActive]="false"
              class="rounded-xl shadow-sm bg-white mb-3 p-2 py-1">
              <ng-template #packHeader>
                <div class="flex justify-between items-center w-full">
                  <span class="font-semibold mt-1">{{ pack.name }}</span>
                  <span class="border px-4 py-1 rounded-full text-sm text-gray-600">
                    {{ pack.flavours.length }} Flavours
                  </span>
                </div>
              </ng-template>

              <nz-collapse nzBordered="false" class="bg-white rounded-lg">
                <div class="overflow-x-auto overflow-y-auto max-h-[272px] mt-3">
                  <table class="w-full form-table min-w-[1100px] border-collapse">
                    <thead class="sticky top-0 bg-white z-10 p-2">
                      <tr>
                        <th class="table-header border border-t-0 w-2/5 text-left ps-5">Flavour</th>
                        <th class="table-header border border-t-0 w-1/5 text-center">Box</th>
                        <th class="table-header border border-t-0 w-1/5 text-center">Pouch</th>
                        <!-- <th class="table-header border border-t-0 w-1/5 text-center">Sticker</th> -->
                      </tr>
                    </thead>

                    <tbody>
                      @for (flavour of pack.flavours;track trackByFn($index, flavour)) {
                      <tr class="border-b text-center">
                        <!-- Flavour Name -->
                        <td class="py-3 px-4 border-l border-r w-2/5 text-left">
                          {{ flavour.name }}
                        </td>

                         <!-- Box -->
                        <td class="py-3 px-4 border-r w-1/5">
                          {{ flavour.Box }} / {{ getCaseQty(flavour,'Box') }}
                        </td>

                        <!-- Pouch -->
                        <td class="py-3 px-4 border-r w-1/5">
                          {{ flavour.Pouch }} / {{ getCaseQty(flavour,'Pouch') }}
                        </td>

                       

                        <!-- Sticker -->
                        <!-- <td class="py-3 px-4 border-r w-1/5">
                          {{ flavour.Sticker }} / {{ getCaseQty(flavour,'Sticker') }}
                        </td> -->
                      </tr>

                      }
                    </tbody>

                  </table>
                </div>

              </nz-collapse>
            </nz-collapse-panel>
            }
          </nz-collapse>
        </ng-template>
      </mat-tab>

    </mat-tab-group>

  </div>


  <!-- filter -->

  <nz-drawer nzWrapClassName="filter-modal" [nzClosable]="false" [nzVisible]="IsFilterDrawerVisible"
    [nzPlacement]="'right'" (nzOnClose)="close()" #drawer>

    <ng-container *nzDrawerContent>
        <div class="flex items-center justify-between w-full filters mb-2">
            <div class="flex items-center space-x-2">
                <div class="text-2xl">Filters</div>
            </div>
            <mat-icon svgIcon="heroicons_solid:x-mark" (click)="close()" class="text-red-600 cursor-pointer"></mat-icon>
        </div>

       <div class="border-b-2 mb-3"></div>
         <form #form="ngForm">
            <div class="grid grid-cols-1">
                <div class="w-full">
                    <bft-input-date name="FromDate" label="Start Date"  format="MM/dd/yyyy" [(ngModel)]="fromDate" />
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="w-full">
                    <bft-input-date name="EndDate" format="MM/dd/yyyy" label="End Date" [(ngModel)]="endDate" />
                </div>
            </div>
            <div class="grid grid-cols-1">
                <div class="w-full">
                    <bft-select name="StatusID" [displayList]="Status" label="Status" valueField="id" displayField="name" [(ngModel)]="StatusID" mode="multiple" />
                </div>
            </div>

            <div class="grid grid-cols-1">
                <div class="w-full">
                    <bft-select name="SupplierID" [displayList]="Supplier" label="Supplier" valueField="id" displayField="name" [(ngModel)]="SupplierID" mode="multiple" />
                </div>
            </div>
        </form>

        <div class="grid grid-cols-1 mt-4">
            <div class="w-full">
                <bft-button name="Generate" icon="settings" (onClick)="onGenerate()" [disabled]="form.invalid" />
                <bft-button name="Reset" icon="close" class="ml-2" (onClick)="onReset()" />
            </div>
        </div> 

    </ng-container>
</nz-drawer>