<div class="flex justify-end mt-2">
    <bft-button name="Add Row" icon="add" class="py-1" (click)="addOpeningRow()" />
</div>

<div class="overflow-x-auto overflow-y-auto max-h-[378px]">
  <table class="w-full form-table mt-2 min-w-[1100px]">
    <thead class="sticky top-0 bg-white z-10">
        <tr class="">
            <th class="table-header border-r border-l w-40">Date</th>
            <th class="table-header border-r border-l w-40"><span class="required-asterisk">*</span> Item</th>
            <th class="table-header border-r w-30">Current Stock</th>
            <th class="table-header border-r w-30"><span class="required-asterisk">*</span> Update Stock</th>
            <th class="table-header border-r w-30">Stock Diff</th>
            @if (formData.length > 0) {
            <th class="table-header border-r"></th>
            }
        </tr>
    </thead>
    <tbody>
        @for (element of formData; track $index) {
        <tr class="border-b py-2">
            <td class="py-0 px-2 border-r border-l w-20">
                <bft-input-date name="Date" [required]="true" [(ngModel)]="element.Date" [skeleton]="isDataLoading" />
            </td>
            <td class="py-0 px-2 border-r border-l w-40">
                <bft-select name="ItemID" [required]="true" [(ngModel)]="element.ItemID" [displayList]="items" displayField="Description"
                    valueField="ID" [skeleton]="isDataLoading" (onChange)="onItemSelect(element)" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-number name="CurrentStock" [(ngModel)]="element.CurrentStock" [skeleton]="isDataLoading" disabled />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-number name="StockUpdate" [required]="true" [(ngModel)]="element.StockUpdate" [skeleton]="isDataLoading" (onChange)="stockDiff(element)" />
            </td>
            <td class="py-0 px-2 border-r border-l w-30">
                <bft-input-number name="StockDiff" [(ngModel)]="element.StockDiff" [skeleton]="isDataLoading" disabled />
            </td>
            @if (formData.length > 0) {
            <td class="py-0 px-2 border-r w-10">
                <div class="flex items-center justify-center h-10">
                    <mat-icon class="text-red-500 cursor-pointer" fontIcon="delete"
                        (click)="deleteDetailRow($index)"></mat-icon>
                </div>
            </td>
            }
        </tr>
        }
    </tbody>
</table>
</div>