<!-- <h3>lorem Userr </h3>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolores labore quidem dignissimos, accusantium id sapiente nam ipsa impedit numquam natus? Eum excepturi quam, unde quas voluptatibus beatae. Quae, ipsam!
</p> -->

<!-- <bft-checkbox label="check" [(ngModel)]="check" name="check" />
<bft-input-currency label="currency" [(ngModel)]="currency" name="currency" [required]="true" symbol="PKR"/>
<bft-input-date label="Date" [(ngModel)]="date" name="date" [required]="true" /> -->

<!-- 
<div class="m-5">
    <bft-input-text label="Name" [(ngModel)]="name" name="name" />
    <bft-input-email label="Email" [(ngModel)]="email" name="email" [required]="true" />
    <bft-input-number label="Number" [(ngModel)]="number" name="number" [required]="true" />
    <bft-textarea label="teaxtarea" [(ngModel)]="teaxtarea" name="teaxtarea" [required]="true" />
    <bft-input-password label="password" [(ngModel)]="password" name="password" [required]="true" />
    <bft-select label="selct name" [(ngModel)]="nameS" [search]="true" [data]="data" valueField="id" displayField="name" name="nameS" [required]="true" />
    <bft-input-phone label="phone" [(ngModel)]="phone" mask="(00) 000-0000000" name="phone" [required]="true" />

    <bft-button name="Save" type="default" beforeIcon="save"  (onClick)="onclick()"/>
    <bft-button name="Save" type="stroked" beforeIcon="save"  (onClick)="onclick()"/>
</div>

{{name}}
{{email}}
{{number}}
{{check}}
{{teaxtarea}}
{{nameS}}
{{phone}} -->
<!-- {{date}}
{{currency}}-->
<bft-button name="Add " icon="add" (onClick)="onclick()"/>